/* stylelint-disable at-rule-no-unknown */

/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

:root  {
  --background: 201.3 93% 95%;
  --foreground: 201.3 5% 10%;
  --card: 201.3 50% 90%;
  --card-foreground: 201.3 5% 15%;
  --popover: 201.3 93% 95%;
  --popover-foreground: 201.3 95% 10%;
  --primary: 201.3 96.3% 32.2%;
  --primary-foreground: 0 0% 100%;
  --secondary: 201.3 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 163.3 30% 85%;
  --muted-foreground: 201.3 5% 35%;
  --accent: 163.3 30% 80%;
  --accent-foreground: 201.3 5% 15%;
  --destructive: 0 93% 30%;
  --destructive-foreground: 201.3 5% 90%;
  --border: 201.3 30% 50%;
  --input: 201.3 30% 22%;
  --ring: 201.3 96.3% 32.2%;
  --radius: 0.5rem;
  --color-1: 0 100% 63%;
  --color-2: 270 100% 63%;
  --color-3: 210 100% 63%;
  --color-4: 195 100% 63%;
  --color-5: 90 100% 63%;
}
.dark  {
  --background: 201.3 50% 10%;
  --foreground: 201.3 5% 90%;
  --card: 201.3 50% 10%;
  --card-foreground: 201.3 5% 90%;
  --popover: 201.3 50% 5%;
  --popover-foreground: 201.3 5% 90%;
  --primary: 201.3 96.3% 32.2%;
  --primary-foreground: 0 0% 100%;
  --secondary: 201.3 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 163.3 30% 22%;
  --muted-foreground: 201.3 5% 60%;
  --accent: 163.3 30% 22%;
  --accent-foreground: 201.3 5% 90%;
  --destructive: 0 93% 30%;
  --destructive-foreground: 201.3 5% 90%;
  --border: 201.3 30% 22%;
  --input: 201.3 30% 22%;
  --ring: 201.3 96.3% 32.2%;
  --radius: 0.5rem;
  --color-1: 0 100% 63%;
  --color-2: 270 100% 63%;
  --color-3: 210 100% 63%;
  --color-4: 195 100% 63%;
  --color-5: 90 100% 63%;
  }


  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

  h3 code {
    @apply !text-lg md:!text-xl;
  }
  
  pre {
    @apply !px-0 rounded-lg overflow-x-auto py-4;
  }
   
  pre [data-line] {
    @apply px-4;
  }

  code {
    @apply text-sm md:text-base !leading-loose;
  }
  
  pre > code {
    counter-reset: line;
  }
  
  code[data-theme*=" "],
  code[data-theme*=" "] span {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
  }
   
  @media (prefers-color-scheme: dark) {
    code[data-theme*=" "],
    code[data-theme*=" "] span {
      color: var(--shiki-dark);
      background-color: var(--shiki-dark-bg);
    }
  }
  
  code[data-line-numbers] {
    counter-reset: line;
  }
  
  code[data-line-numbers] > [data-line]::before {
    counter-increment: line;
    content: counter(line);
    @apply inline-block w-4 mr-4 text-right text-gray-500;
  }
 
  code {
    counter-reset: line;
  }
 
  code > [data-line]::before {
  counter-increment: line;
  content: counter(line);
 
  /* Other styling */
  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}
 
code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 2rem;
}
 
code[data-line-numbers-max-digits="3"] > [data-line]::before {
  width: 3rem;
}